 <aside class="col-md-4">
                
    <div class="widget widget-recent-posts">
        <h3 class="widget-title">最新文章</h3>
        <ul>
            <li>
                <a href="#">沐浴之王-搓澡也能拿奥斯卡</a>
            </li>
            <li>
                <a href="#">疯狂原始人2-原始文明和现代文明的火花碰撞</a>
            </li>
            <li>
                <a href="#">如果声音不记得-校园青春记忆里的事</a>
            </li>
        </ul>
    </div>
    

    <div class="widget widget-category">
        <h3 class="widget-title">分类</h3>
        <ul>
            <li>
                <a href="#">中国电影 </a>
            </li>
            <li>
                <a href="#">印度电影 </a>
            </li>
            <li>
                <a href="#">欧美电影 </a>
            </li>
            <li>
                <a href="#">漫威宇宙 </a>
            </li>
            <li>
                <a href="#">DC宇宙 </a>
            </li>
        </ul>
    </div>

    <div class="widget widget-tag-cloud">
        <h3 class="widget-title">标签云</h3>
        <ul>
            <li>
                <a href="#">黑色电影</a>
            </li>
            <li>
                <a href="#">诺兰</a>
            </li>
            <li>
                <a href="#">伍迪艾伦</a>
            </li>
            <li>
                <a href="#">黑泽明</a>
            </li>
            <li>
                <a href="#">詹姆斯·卡梅隆</a>
            </li>
            <li>
                <a href="#">斯皮尔博客</a>
            </li>
        </ul>
    </div>
    <div class="rss">
        <a href=""><span class="ion-social-rss-outline"></span> RSS 订阅</a>
    </div>
</aside>