 <aside class="col-md-4">
                
    <div class="widget widget-recent-posts">
        <h3 class="widget-title">最新文章</h3>
        <ul>
            {{range .latest}}
            <li>
                <a href="/article/{{.ID}}">{{.Title}}</a>
            </li>
            {{end}}
            
        </ul>
    </div>
    

    <div class="widget widget-category">
        <h3 class="widget-title">分类</h3>
        <ul>

            {{range .categories}}
            <li>
                <a href="/category/{{.URL}}/1">{{ .Name }} </a>
            </li>
             {{ end }}
         
        </ul>
    </div>

    <div class="widget widget-tag-cloud">
        <h3 class="widget-title">标签云</h3>
        <ul>
            {{range .tags}}
            <li>
                <a href="/tag/{{.URL}}/1">{{.Name}}</a>
            </li>
            {{end}}
        </ul>
    </div>
    <div class="rss">
        <a href=""><span class="ion-social-rss-outline"></span> RSS 订阅</a>
    </div>
</aside>