{{ template "head.html" .}}

<div class="content-body">
    <div class="container">
        <div class="row">
            <main class="col-md-8">
                {{range .posts}}
                <article class="post post-3">
                    <header class="entry-header">
                        <h1 class="entry-title">
                            <a href="/article/{{.ID}}">{{ .Title }}</a>
                        </h1>
                        <div class="entry-meta">
                            <span class="post-category"><a href="#">{{ .Cid |getCategoryName }}</a></span>
                            <span class="post-date"><a href="#"><time class="entry-date" datetime="">{{ .Created|formateDate }}</time></a></span>
                            <span class="views-count"><a href="#">{{ .Views }} 阅读</a></span>
                        </div>
                    </header>
                    <div class="entry-content clearfix">
                        <p>{{ .Desc }}</p>
                        <div class="read-more cl-effect-14">
                            <a href="/article/{{.ID}}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                        </div>
                    </div>
                </article>
                {{ end }}

                

                
               
                <div class="pagination-simple">
                    <a href="{{.prev_link}}">上一页</a>
                    <span class="current">第 {{.current_page}} 页 / 共 {{.total_page}} 页</span>
                    <a href="{{.next_link}}">下一页</a>
                </div>
               
                
            </main>
            {{ template "aside.html" .}}
        </div>
    </div>
</div>
<!--Embed the footer.html template at this location-->
{{ template "foot.html" .}}